{
    "$schema": "https://infection.github.io/schema",
    "source": {
        "directories": ["src"],
        "excludes": [
            "Resources",
            "stubs",
            "GatekeeperPlugin.php",
            "GatekeeperServiceProvider.php"
        ]
    },
    "logs": {
        "github": true
    },
    "mutators": {
        "@default": true
    }
}
