includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src
    level: 6
    ignoreErrors:
        - '#Trait .* is used zero times and is not analysed#'
        - '#Unable to resolve the template type T(Key|Value|CacheValue) in call to#'
        - '#PHPDoc tag @var for variable \$grouped contains generic class#'
        - message: '#getTableFilters\(\) should return array<int, Filament\\Tables\\Filters\\Filter> but returns#'
          path: src/Resources/PermissionResource.php
    excludePaths:
        - stubs
